/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

/* Texts */

h1 {}

h2 {}

h3 {}

/* HEADER */

/* MAIN */

/* FOOTER */

/* UTILITIES */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

/* Colors */
