/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* max-width: 480px; */
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
}

/** Texts */

h1 {}

h2 {}

h3 {}

h5 {
    font-size: 3rem;
}

/*? HEADER */

.navbar {
    background-color: #0084fd;
    padding: 1.3rem 0;
    margin-bottom: 3rem;
}

.navbar nav {
    display: none;
}

.navbar i {
    color: white;
    font-size: 1.5rem;
}

nav ul {
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: white;
}

/*? MAIN */

/* Section About*/

section.about {
    flex-direction: column;
}

div.column {
    flex-direction: column; 
    flex-wrap: wrap;

    
    width: 100%;
    padding: 1rem;
    background-color: #b5ddff;
    justify-content: center;
    text-align: center;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}

.column i.icon {
    font-size: 7rem;
}

div.column.big {
    padding: 1rem 1rem 0 1rem;
}

.b-col-left {
    width: 100%;
    text-align: left;
}

.column.big img {
    width: 100%;
    object-fit: cover;
}

/* Section Strategic Planning*/
section.planning {
    background-color: #9792e4;
}

section.planning div.container {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

div.col-planning-l img {
    width: 100%;
    margin: 4rem 0;
}

div.col-planning-r {
    flex-wrap: wrap;
    justify-content: center;

    margin: 2rem 0;
    padding: 2rem 1rem;
    width: 100%;
    background-color: white;
    text-align: center;

    border-radius: 2rem;
}

div.col-planning-r img {
    width: 100%;
}

div.circle {
    justify-content: center;
    align-items: center;
    
    background-color: #9792e4;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

div.col-planning-r p{
    width: 100%;
}

/* Section Testimonials*/

section.testimonials {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

section.testimonials h3 {
    margin: 3rem 0;
    text-transform: uppercase;
}

section.testimonials h2 {
    color: #9792e4;
}


div.partner-container {
    flex-wrap: wrap;
    justify-content: center;

    background-color:#9792e4;
    border-radius: 2rem;
    width: 100%;
    color: white;
    margin: 1rem 0;
    padding: 2rem 1rem;

}

div.partner-container div.block-quote {
    padding: 1rem 0;
}

img.circle-img {
    margin: 2rem 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

div.partner-container h4{
    text-transform: uppercase;
}

/* Section Benefits */

section.benefits {
    padding: 3rem 0;
    background-color: #9792e4;
    color: white;
    text-align: center;
}

section.benefits h2{
    margin-bottom: 3rem;
}

section.benefits div.container {
    flex-wrap: wrap;
    flex-direction: column;
}

.column.column-white {
    background-color: white;
    color: #9792e4;
    text-align: left;
}

/* Section About Us  */

section.about-us {
    padding: 3rem 0;
    flex-wrap: wrap;
    flex-direction: column;
}

div.au-col-left h6 {
    color: #9792e4;
}

div.au-img i {
    position: absolute;
    left: calc(200px - 4rem);
    bottom: calc(200px - 1rem);

    font-size: 4rem;
    color: #9792e4;
}

div.au-col-right h1 {
    color: #9792e4;
}

/* Section get Started */

section.get-started {
    background-color: #9792e4;
    padding: 3rem 0;
    text-align: center;
    color: white;
}

section.get-started h3{
    text-transform: uppercase;
    font-weight: 200;
    color: #cac8f1;
    margin-bottom: 1rem;
}

section.get-started div.container h5{
    color: #fdc15f;
    margin-bottom: 1rem;
}

section.get-started div.container p{
    margin-bottom: 1rem;
}

/* section.get-started div.container ul{
    flex-wrap: wrap;
    margin: 2rem 0;
} */

/*? FOOTER */

footer div.container p {
    padding:2rem;
}

/** UTILITIES */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.container {
    max-width: 85%;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
}

.container-xs {
    max-width: 800px;
}

.button-white {
    background-color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor:pointer;
}

/** Colors */


/*! Media Queries*/

/* TABLET */
/** Da 480px in su */
@media screen and (min-width: 480px) {
    .container {
        max-width: 90%;
    }

    /* MAIN */
    /* Section About */
    section.about {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1rem;
    }

    div.column.big {
        /* align-items: flex-start; */

        padding: 1rem 1rem 0 1rem;
        width: calc((100% / 3) * 2 - 1rem);
    }

    div.column {  
        width: calc((100% / 3) - 1rem);
        padding: 1rem;
        background-color: #b5ddff;
        justify-content: center;
        text-align: center;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
    }

    /* Section testimonials */
    
    div.partner-container {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        flex-direction: row;
        text-align: left;
        padding: 0 1rem;
    }

    div.partner-container div.block-quote {
        width: calc(100% - 200px - 2rem);
    }

    /* Section Benefits */
    section.benefits div.container {
        flex-direction: row;
    }
    
    .column.column-white {
        width: calc(50% - 1.5rem);
        gap: 1rem;
    }

    /* Section About us */

    section.about-us {
        flex-direction: row;
        align-items: flex-start;
    }

    div.au-col-left {
        width: calc((100% / 3) * 2 - 1rem);
    }

    div.au-col-right {
        width: calc(100% / 3);
    }

    div.au-col-right img{
       margin: 0;
    }

    div.au-img i {
        bottom: calc(200px - 3rem);
    }

    /* Section Get starter  */
    
    section.get-started div.container {
        width: 80%;
    }

    /* FOOTER */

    footer div.container {
        max-width: 80%;
    }
    
}



/* DESKTOP */
/** Da 768px in su */

@media screen and (min-width: 768px) {
    body {
      /* background-color: blue; */
    }

    .container {
        max-width: 60%;
    }

    /* HEADER */
    .navbar nav {
        display: inline-block;
    }
    
    .container i.b-menu {
        display: none;
    }

    .container ul {
        display: flex;
        list-style-type: none;
    }

    .container ul li{
        margin-right: 1rem;
    }

    /* MAIN */
    /* Section About */
    div.column.big {
       flex-direction: row;
    }

    .column.big img {
        width: 50%;
        padding: 2rem 2rem 0 2rem;
    }

    .b-col-left {
        width: 50%;
        text-align: left;
    }

    /* Section Strategic Planning*/
    
    section.planning div.container.container-small{
        gap: 5%;
        align-items: flex-end;
    }

    div.col-planning-l {
        width: 40%;
    }

    div.col-planning-r {
        width: 30%;
    }

    /* Section Benefits */
    
    .column.column-white {
        width: calc((100% / 3) - 1rem);
        gap: 1rem;
    }

    /* Section Get starter  */
    
    section.get-started div.container {
        width: 40%;
    }

    /* FOOTER */

    footer div.container {
        max-width: 40%;
    }
   
        
}   
