/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* max-width: 480px; */
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
}

/** Texts */

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 2.1rem;
}

h3 {}

h4 {

}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 1.8rem;
}

p {
    font-size: .9rem;
    line-height: 1.8rem;
}

/*? HEADER */

.navbar {
    background-color: #0084fd;
    padding: 1.3rem 0;
    margin-bottom: 3rem;
}

.navbar nav {
    display: none;
}

.navbar i {
    color: white;
    font-size: 1.5rem;
}

nav ul {
    align-items: center;
}

nav ul a {
    text-decoration: none;
    color: white;
}

/*? MAIN */

/* Section About*/

section.about {
    flex-direction: column;
    color: #5e7385;
    font-weight: 700;
    margin-bottom: 4rem;
}

div.column {
    flex-direction: column; 
    flex-wrap: wrap;

    
    width: 100%;
    padding: 1rem;
    background-color: #b5ddff;
    justify-content: center;
    text-align: center;
    border-radius: 1.5rem;
    margin-bottom: 1.5rem;
}

.column i.icon {
    color: #0084fd;
    margin: 1.5rem 0;
    font-size: 5rem;
}

.column h1 {
    color: #0084fd;
    margin-bottom: 2rem;
}

div.column.big {
    padding: 1.5rem 1.5rem 0 1.5rem;
    justify-content: space-between;
}

.b-col-left {
    width: 100%;
    text-align: left;
}

div.b-col-left h1{
    color: #0084fd;
    margin-bottom: 1.5rem;   
}

div.b-col-left button {
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.column.big img {
    width: 100%;
    object-fit: cover;
}

/* Section Strategic Planning*/

section.planning {
    background-color: #9792e4;
    color: white;
}

section.planning h2{
    margin-bottom: 2.8rem;
}

section.planning div.container {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2rem;
}

div.col-planning-l img {
    width: 100%;
    margin: 4rem 0;
}

div.col-planning-r {
    flex-wrap: wrap;
    justify-content: center;

    margin: 2rem 0;
    padding: 2rem 1rem;
    width: 100%;
    color: black;
    background-color: white;
    text-align: center;

    border-radius: 2rem;
}

div.col-planning-r img {
    width: 100%;
    margin-bottom: 1.5rem;
}

div.col-planning-r h1 {
    margin-bottom: 1.5rem;
}

div.circle {
    justify-content: center;
    align-items: center;
    
    background-color: #9792e4;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

div.col-planning-r p{
    width: 100%;
}

/* Section Testimonials*/

section.testimonials {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
}

section.testimonials h3 {
    margin: 3rem 0 1.5rem;
    text-transform: uppercase;
    font-weight: 100;
}

section.testimonials h2 {
    color: #9792e4;
    margin-bottom: 1.5rem;
}

section.testimonials p {
    font-size: 1.2rem;
   
}

div.partner-container {
    flex-wrap: wrap;
    justify-content: center;

    background-color:#9792e4;
    border-radius: 2rem;
    width: 100%;
    color: white;
    margin: 1rem 0;
    padding: 2rem 1rem;

}

img.circle-img {
    margin: 2rem 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

div.partner-container h1{
    text-transform: uppercase;
    margin-top: 1.5rem;
}

div.block-quote {
    font-size: 1.2rem;
    line-height: 2rem;
}

div.block-quote i{
    padding: .3rem;
}

/* Section Benefits */

section.benefits {
    padding: 3rem 0;
    background-color: #9792e4;
    color: white;
    text-align: center;
}

section.benefits h1{
    color: #9792e4;
    font-size: 1.55rem;
}

section.benefits h2{
    margin-bottom: 3rem;
}

section.benefits div.container {
    flex-wrap: wrap;
    flex-direction: column;
}

.column.column-white {
    padding: 2rem;
    background-color: white;
    color: #9792e4;
    text-align: left;
}

.column.column-white p{
    color: #9a9a9a;
    font-size: 1rem;
}

/* Section About Us  */

section.about-us {
    padding: 3rem 0;
    flex-wrap: wrap;
    flex-direction: column;
}

div.au-col-left h5 {
    color: #9792e4;
}

div.au-col-left p {
    font-size: 1.1rem;
    line-height: 2.3rem;
}

div.au-img i {
    position: absolute;
    left: calc(200px - 4rem);
    bottom: calc(200px - 1rem);

    font-size: 4rem;
    color: #9792e4;
}

div.au-col-right h6 {
    color: #9792e4;
}

div.au-col-right button.button-blue {
    letter-spacing: normal;
}

div.au-col-right button.button-blue i{
    margin-right: .7rem;
}


/* Section get Started */

section.get-started {
    background-color: #9792e4;
    padding: 3rem 0;
    text-align: center;
    color: white;
}

section.get-started h3{
    text-transform: uppercase;
    font-weight: 200;
    color: #cac8f1;
    margin-bottom: 1rem;
}

section.get-started div.container h5{
    color: #fdc15f;
    margin-bottom: 1rem;
}

section.get-started div.container p{
    margin-bottom: 1rem;
}

/* section.get-started div.container ul{
    flex-wrap: wrap;
    margin: 2rem 0;
} */

/*? FOOTER */

footer div.container p {
    padding:2rem;
}

/** UTILITIES */

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.container {
    max-width: 85%;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
}

.container-xs {
    max-width: 800px;
}

.margin-button-s {
    margin-bottom: 1.5rem;
}

.button-white {
    background-color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor:pointer;
}

.button-blue {
    letter-spacing: .2rem;
    font-weight: 600;
    background-color: #0084fd;
    color: white;
    border: none;
    padding: .7rem 2.3rem;
    border-radius: 2rem;
    cursor:pointer;
}

/** Colors */

.bg-purple {
    background-color: #9792e4;
}

/*! Media Queries*/

/* TABLET */
/** Da 480px in su */
@media screen and (min-width: 480px) {
    .container {
        max-width: 90%;
    }

    /* MAIN */
    /* Section About */
    section.about {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 1rem;
    }

    div.column.big {
        /* align-items: flex-start; */

        padding: 1rem 1rem 0 1rem;
        width: calc((100% / 3) * 2 - 1rem);
    }

    div.column {  
        width: calc((100% / 3) - 1rem);
        padding: 1rem;
        background-color: #b5ddff;
        justify-content: center;
        text-align: center;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .column.big img {
        min-width: 220px;
        max-width: 60%;
    }

    /* Section strategic planning */

    div.col-planning-l h2 {
        font-size:  4rem;
    }

    /* Section testimonials */
    
    div.partner-container {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        flex-direction: row;
        text-align: left;
        padding: 0 1rem;
    }
    
    section.testimonials h2 {
        font-size: 2.6rem;
    }

    div.partner-container div.block-quote {
        width: calc(100% - 200px - 2rem);
    }

    /* Section Benefits */

    section.benefits h2 {
        width: 100%;
        font-size: 2.6rem;
    }

    h5.margin-button-s {
        font-size: 4.3rem;
        margin-bottom: .8rem;
    }

    section.benefits h1 {
        margin-bottom: 1.2rem;
    }

    section.benefits div.container {
        flex-direction: row;
    }
    
    .column.column-white {
        width: calc(50% - 1rem);
    }

    /* Section About us */

    section.about-us {
        flex-direction: row;
        align-items: flex-start;
    }

    div.au-col-left {
        width: calc((100% / 3) * 2 - 4rem);
        margin-bottom: 4rem
    }

    div.au-col-right {
        width: calc(100% / 3);
    }

    div.au-img i {
        bottom: calc(200px - 3rem);
    }

    /* Section Get starter  */
    
    section.get-started div.container {
        width: 80%;
    }

    /* FOOTER */

    footer div.container {
        max-width: 80%;
    }
    
}



/* DESKTOP */
/** Da 768px in su */

@media screen and (min-width: 768px) {
    body {
      /* background-color: blue; */
    }

    .container {
        max-width: 1000px;
    }

    /* HEADER */
    .navbar nav {
        display: inline-block;
    }
    
    .container i.b-menu {
        display: none;
    }

    .container ul {
        display: flex;
        list-style-type: none;
    }

    .container ul li{
        margin-right: 1rem;
    }

    /* MAIN */
    /* Section About */
    div.column.big {
       flex-direction: row;
    }

    .column.big img {
        width: 50%;
        padding: 2rem 2rem 0 2rem;
        object-fit: contain;
        object-position: bottom;

    }

    .b-col-left {
        width: 50%;
        text-align: left;
    }

    /* Section Strategic Planning*/
    
    section.planning div.container.container-small{
        gap: 5%;
        align-items: flex-end;
    }

    div.col-planning-l {
        width: 40%;
    }

    div.col-planning-r {
        width: 30%;
    }

    div.col-planning-l h2 {
        font-size:  1.8rem;
    }

    /* Section Benefits */
    
    .column.column-white {
        width: calc((100% / 3) - 1rem);
        gap: 1rem;
    }

    /* About us */

    div.au-col-right h6 {
        padding-right: 5rem;
    }
    /* Section Get starter  */
    
    section.get-started div.container {
        width: 40%;
    }

    /* FOOTER */

    footer div.container {
        max-width: 40%;
    }
   
        
}   
